name: Test build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  test:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Dependencies
        run: uv sync --all-groups --locked --no-editable

      # - name: Lint code with Ruff
      #   run: poetry run ruff check

      # - name: Run Pylint
      #   run: poetry run pylint .

  build-push:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    name: Build and push to PyPi
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Dependencies
        run: uv sync --all-groups --locked --no-editable

      - name: Publish to PyPi
        run: uv publish --no-interaction
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}